main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

table {
    width: 100%;
}
h2 {
    text-align: center;
}
th {
    border: 1px solid #000000;
    background-color: #674343;
    text-align: center;
    padding: 10px;
}
tr, td {
    border: 1px solid #000000;
    background-color: #f9d9d9;
    padding: 10px;
    text-align: right;
}

#form-section {
    border: 1px solid #000000;
    border-radius: 0.5rem;
}

#form-section .form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

#form-section div {
    padding: 1rem;
}

#form-section .form-button {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}